<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Videograph Template">
    <meta name="keywords" content="Videograph, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Videograph | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/cssmain/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/cssmain/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/cssmain/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/cssmain/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/cssmain/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/cssmain/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/cssmain/style.css" type="text/css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a href="./index.html"><img src="/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="header__nav__option">
                    <nav class="header__nav__menu mobile-menu">
                        <ul>
                            <li><a href="./index.html">Home</a></li>
                            <li><a href="./about.html">About</a></li>
                            <li><a href="../port">Portfolio</a></li>
                            <li class="active"><a href="./services.html">Services</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="./about.html">About</a></li>
                                    <li><a href="./portfolio.html">Portfolio</a></li>
                                    <li><a href="./blog.html">Blog</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="./contact.html">Contact</a></li>
                        </ul>
                    </nav>
                    <div class="header__nav__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header End -->

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option spad set-bg" data-setbg="/img/breadcrumb-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>방명록</h2>
                    <div class="breadcrumb__links">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Blog Section Begin -->
<section class="blog spad">
    <div class="container">
        <input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6" th:each="board: ${list}" th:attr="id=${board.bbsId}">
                <div class="blog__item" th:if="${board.hidden == 0}">
                    <h4 th:text="${board.bbsTitle.substring(0, T(Math).min(board.bbsTitle.length() , 22))}"></h4>
                    <ul>
                        <li th:text="${board.bbsId}"></li>
                        <li th:text="${board.bbsCreateDate}"></li>
                        <li th:text="${board.member.uid}"></li>
                    </ul>
                    <p th:text="${board.bbsContent.substring(0,T(Math).min(board.bbsContent.length() , 34))}"></p>
                    <a href="#" th:attr="id=board + ${board.bbsId}">Read more <span class="arrow_right"></span></a>
                </div>
                <div class="blog__item" th:unless="${board.hidden == 0}">
                    <h4>비밀글입니다.</h4>
                    <ul>
                        <li th:text="${board.bbsId}"></li>
                        <li th:text="${board.bbsCreateDate}"></li>
                    </ul>
                    <p></p>
                    <a href="#" th:attr="id=board + ${board.bbsId}">Read more <span class="arrow_right"></span></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="pagination__option blog__pagi">
                    <!-- 이전 페이지 넘어가기 버튼 추가 -->
                    <a>
                        <a th:if="${startPage} > 1" th:href="@{/blog/(page=${startPage} - 10)}"></a>
                    </a>
                    <th:block th:each="pageNumber : ${#numbers.sequence(startPage, endPage)}"
                              class="number__pagination">
                        <a th:class="${page == pageNumber} ? active" th:value="${pageNumber}">
                            <!-- class="active" 현재 페이지 일때 -->
                            <a class="number__pagination" th:href="@{/blog/(page=${pageNumber})}"
                               th:text="${pageNumber}" ></a>
                        </a>
                    </th:block>
                    <!-- 다음 페이지 넘어가기 버튼 추가 -->
                    <a>
                        <a th:if="${totalPage} > ${endPage}" th:href="@{/board/(page=${startPage} + 10)}"></a>
                    </a>
                </div>
                <div class="row" style="float: right">
                    <div class="blog__details__tags">
                        <a href="/blog/write" type="button" value="등록">등록</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="footer__top__logo">
                        <a href="#"><img src="/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="footer__top__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__option">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__option__item">
                        <h5>About us</h5>
                        <p>Formed in 2006 by Matt Hobbs and Cael Jones, Videoprah is an award-winning, full-service
                            production company specializing.</p>
                        <a href="#" class="read__more">Read more <span class="arrow_right"></span></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3">
                    <div class="footer__option__item">
                        <h5>Who we are</h5>
                        <ul>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Carrers</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Locations</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3">
                    <div class="footer__option__item">
                        <h5>Our work</h5>
                        <ul>
                            <li><a href="#">Feature</a></li>
                            <li><a href="#">Latest</a></li>
                            <li><a href="#">Browse Archive</a></li>
                            <li><a href="#">Video for web</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__option__item">
                        <h5>Newsletter</h5>
                        <p>Videoprah is an award-winning, full-service production company specializing.</p>
                        <form action="#">
                            <input type="text" placeholder="Email">
                            <button type="submit"><i class="fa fa-send"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p class="footer__copyright__text">Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                            aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                    </p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap1.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/masonry.pkgd.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
<script>
    $("#write").click(function () {
        location = "/board/write";
    });

    $(".blog__item > a").click(function () {
        //비밀글 체크 옵션넣기
        var id = $(this).attr("id").substring(5);
        var page = $('.blog__pagi .active').attr('value');
        var url = 'board' + id

        // location = "/blog/"+ url + "?id="+ id + "&page="+ page
        location = `/blog/${url}?page=${page}`;

    });
</script>
</body>

</html>